asgiref                          
bcrypt                          
Django                          
djangorestframework                          
djangorestframework-simplejwt                          
drf-yasg                          
inflection                          
mysqlclient                          
packaging                          
PyJWT                          
pytz                          
PyYAML                          
sqlparse                          
uritemplate                          
